extends base

block content 
    form(method="POST") 
        input(type="email", name="email", requred)
        input(type="text", name="username", requred)
        input(type="password", name="password", requred)
        input(type="text", name="name", requred)
        input(type="text", name="location")
        input(type="submit", value="Join")